#guidblock {
    background-color: var(--block-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 350px;
    padding: 10px;
}

#title {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

#excerpt {
    flex-grow: 1;
    display: flex;
    text-align: left;
    font-size: 1rem;
    overflow: scroll;
    padding: 20px;
}

#author {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 30px;
}

#name {
    text-align: left;
}

#date {
    text-align: right;
}