h1{
    text-align: center;
    font-size: 3rem;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}
#articleOuter{
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 1.5rem;
    background-color: var(--block-color);
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#back{
    color: var(--text-color);
    font-size: 2rem;
    position: absolute;
    bottom: 40px;
    right: -80px;
    background-color: rgba(var(--block-color-truth), 0.5);
    border-radius: 40px;
    height: 90px;
    width: 100px;
    transition: right 0.3s ease;
}

::ng-deep li {
    margin: 5px 0;
    padding: 5px;
}

#back.show{
    right: 10px;
}

