<div class="container">
  <div class="regist-container" *ngIf="!detail">
    <input type="text" maxlength="10" [(ngModel)]="username" placeholder="輸入帳號" (input)="onInputChange($event)"/>
    <input type="password" maxlength="10" [(ngModel)]="password" placeholder="輸入密碼" (input)="onInputChange($event)"/>
    <input type="password" maxlength="10" [(ngModel)]="checkPassword" placeholder="再次輸入密碼" (input)="onInputChange($event)"/>
    <div class="button-container">
      <button (click)="checkUser()">註冊</button>
      <button (click)="closeRegist()">取消</button>
    </div>
  </div>
  <div class="step2" *ngIf="detail">
    <div>
      <div class="select-container">
        <!-- <div>
          <label>職務(必填)</label>
          <select type="text" [(ngModel)]="role">
            <option value="" disabled selected>請選擇職務</option>
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
          </select>
        </div>
        <div>
          <label>部門(必填)</label>
          <select type="text" [(ngModel)]="department">
            <option value=" " disabled selected>請選擇部門</option>
            <option *ngFor="let department of departments" [value]="department">{{ department }}</option>
          </select>
        </div> -->
        <div>
          <label>到職日期</label>
          <input type="date" [(ngModel)]="start_date" />
        </div>
      </div>
    </div>
    <div>
      <input *ngFor="let data of basicData" maxlength="10" type="{{ data.type }}" 
      [(ngModel)]="data.name" placeholder="{{ data.placeholder }}" (input)="data.placeholder.endsWith('電話') ? onPhoneChange($event) : ''"/>
    </div>
    <div>
      <textarea class="address" [(ngModel)]="address" placeholder="輸入聯絡地址"></textarea>
    </div>
    <div class="button-container">
      <button (click)="registUser()">確認</button>
      <button (click)="closeRegist()">取消</button>
    </div>
  </div>
</div>
