.direction {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 70%;
}

.open-direction {
  z-index: 999;
  position: absolute;
  bottom: 2%;
  right: 2%;
  height: fit-content;
  width: fit-content;
  font-size: 1rem;
  padding: 5px;
  background-color: var(--direction-color);
  border: none;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.user-system-block {
  width: 200px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  margin: 10px;
  background-color: var(--block-color);
}

.user-system-block:hover {
  cursor: pointer;
  transform: translate(10px, -10px);
  transition: transform 0.3s ease;
  box-shadow: -2px 2px 5px 2px rgba(255, 255, 255, 0.5);
}

@media (max-width: 576px) {
  .user-system-block {
    width: 150px;
    height: 100px;
    font-size: 1.5rem;
  }
  .direction {
    z-index: 999;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 70%;
  }
}
