<div>
  <div *ngIf="!showLoginPage && !showRegistPage" class="button-container">
    <div class="user-system-block" (click)="showPage('regist')">註冊</div>
    <div class="user-system-block" (click)="showPage('login')">登入</div>
  </div>
  <app-regist *ngIf="showRegistPage" (finishRegist)="onFinish($event)" (cancel)="onCancel($event)"></app-regist>
  <app-login *ngIf="showLoginPage" (finishLogin)="onFinish($event)" (cancel)="onCancel($event)"></app-login>
</div>
<app-user-alert *ngIf="showAlert" (closeAlert)="onClosedAlert($event)" [alertMessage]="alertMessage"></app-user-alert>
