<main>
    <button (click)="findFood()">找食物</button>
    <button (click)="clearMarkers()">清除搜尋結果</button>
    <select [(ngModel)]="selectedArea">
      <option value="" disabled>請選擇地區</option>
      <option *ngFor="let area of areas" [value]="area.area">{{ area.area }}</option>
    </select>
    <select [(ngModel)] = "selectedTIme">
      <option value="" disabled>請選擇時間</option>
      <option *ngFor="let t of timeList" [value]="t">{{ t }}</option>
    </select>
    <button (click)="search(selectedArea, selectedTIme)">搜尋</button>
    <div #mapContainer class="map_container"></div>
</main>