@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(20px, 20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* 最終位置為正常 */
    }
}

main{
    animation: fadeIn 1.5s ease-in-out;
}
.out-zone{
    display: flex;
}
.img-zone{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
}
.about-zone{  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 50px;
    margin-left: 100px;
}


img{
    height: 400px;
    border-radius: 50px;
    border-color: blue;
    margin-top: 100px;
}