<main>
    <div class="out-zone">
        <div class="img-zone">
            <img src="../../../assets/myself_bighead.jpg">
        </div>
        <div class="about-zone">
            <div class="about-title">
                關於我
            </div>
            <div class="about-article">
                <p class="line" *ngFor="let line of forFrontEnd">
                    {{ line }}
                </p>
            </div>
        </div>
    </div>
    <!-- TODO: 放入聯絡資訊，Linkined、IG、Line -->
</main>