<div class="main-container">
  <div id="head" [ngClass]="{'head-hidden': headHidden}">
    <div id="head-title">
      <div class="name-size en-name" [routerLink]="['']" [queryParams]="{ notFirst: true}">
        <div class="name-start">
          N
        </div>
        <div>
          <div class="en-name-size first-name">
            oah
          </div>
          <div class="en-name-size last-name">
            Wang
          </div>
        </div>
      </div>
    </div>
    <div id="button-container">
      <button routerLink="/blog">Blog</button>
      <button routerLink="/project">作品</button>
      <button routerLink="/about">關於</button>
    </div>    
  </div>
  <div class="app-root" #appRoot>
    <router-outlet></router-outlet>
  </div>
</div>
