<div class="main-container">
  <div id="head" [ngClass]="{'head-hidden': headHidden}">
    <div id="head-title">
      <div class="name-size en-name" [routerLink]="['']">
        <div class="name-start">
          N
        </div>
        <div>
          <div class="en-name-size first-name">
            oah
          </div>
          <div class="en-name-size last-name">
            Wang
          </div>
        </div>
      </div>
    </div>
    <div id="button-container">
      <button (click)="navigateTo('/blog')">學習筆記</button>
      <button (click)="navigateTo('/project')">作品</button>
      <button (click)="navigateTo('/about')">關於</button>
      <button (click)="navigateTo('/user-operation')">使用者系統</button>
    </div>    
  </div>
  <div class="app-root" #appRoot>
    <router-outlet></router-outlet>
  </div>
</div>
<app-alert *ngIf="showAlert" [alertMessage]="alertMessage" (closeAlert)="onAlertClose($event)"></app-alert>
