button {
    font-family: 'Cinzel', serif; 
    background: none;
    border-radius: 8px;
    border: 0px;
    padding: 5px 10px;
    font-size: 2rem;
    margin: 2px;
    cursor: pointer;
    text-shadow: 0 5px 10px rgba(8, 8, 8, 0.466);;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.2s;
}
  
  /* 按鈕懸停效果 */
button:hover {
    transform: translateY(-2px);
    text-shadow: 0 8px 15px rgba(151, 234, 177, 0.8);
}

/* 按鈕按下效果 */
button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.head{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.name-size{
    font-size: 6rem;
}

.en-name-size{
    font-size: 3rem;
}

.name-start{
    border: 5px solid rgb(0, 140, 255);
}

.first-name{
    display: flex;
    flex-direction: column;
}

.head-title {
    display: flex;
    flex-direction: column;
}

.en-name{
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* 讓按鈕在水平方向上排列在一起 */
.button-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin: 20px;
}

@media (max-width: 1200px) {
    .name-size{
        font-size: 4rem;
    }
    .en-name-size{
        font-size: 1.5rem;
    }
    .button-container {
        gap: 50px;
    }    
    button {
        font-size: 1rem;
    }
}

@media (max-width: 530px) {
    .name-size{
        font-size: 3rem;
    }
    .en-name-size{
        font-size: 1rem;
    }
    .button-container {
        gap: 5px;
        margin: 10px
    }   
    button {
        margin: 0px;
        font-size: 0.8rem;
    }
}

@media (max-width: 320px) {
    
}