button {
    font-family: 'Cinzel', serif; /* 與整體網站保持一致的字體 */
    background-color: #805c36; /* 使用沙漠的色調，模擬土壤或木質感 */
    color: #f0e6d2; /* 類似骨頭的淺色文字 */
    border: 2px solid #d2a679; /* 使用金屬感的邊框色 */
    border-radius: 8px; /* 輕微圓角，使按鈕有更自然的外觀 */
    padding: 5px 10px;
    font-size: 2rem;
    margin: 2px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6); /* 立體感的陰影效果 */
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.2s;
}
  
  /* 按鈕懸停效果 */
button:hover {
    background-color: #b3863b; /* 當懸停時變亮，模擬金屬的閃光 */
    transform: translateY(-2px); /* 輕微向上移動，增加互動感 */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8); /* 陰影變深，突出按鈕效果 */
}

/* 按鈕按下效果 */
button:active {
    transform: translateY(1px); /* 向下按壓的效果 */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5); /* 陰影收縮，模擬按壓效果 */
}

/* 讓按鈕在水平方向上排列在一起 */
.button_container {
    display: flex;
    justify-content: center;
    gap: 250px;
    margin: 20px;
}

@media (max-width: 1100px) {
    .button_container {
        gap: 100px;
    }    
    button {
        font-size: 1rem;
    }
}

@media (max-width: 450px) {
    .button_container {
        gap: 20px;
    }   
}

@media (max-width: 350px) {
    button {
        font-size: 0.8rem;
    }
}