<main>
    <div class="countdown">
        <div class="time_box">
            <span class="time">{{ days }} 天</span>
        </div>
        <div class="time_box">
            <span class="time">{{ hours }} 時</span>
        </div>
        <div class="time_box">
            <span class="time">{{ min }} 分</span>
        </div>
        <div class="time_box">
            <span class="time">{{ sec }} 秒</span>
        </div>
    </div>
    <div class="image_adjust">
        <img class="image_adjust" src="../../assets/mswild.png">
    </div>
</main>
  