<mat-toolbar>
  <div class="user">
    <div class="user-info">
      <div class="icon-and-name">
        <mat-icon>person</mat-icon>
        <span>使用者名稱</span>
      </div>
      <div class="logout">
        <span>自動登出倒數</span>
        <button mat-stroked-button>登出</button>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button mat-flat-button>功能一</button>
    <button mat-fab-extended>功能二</button>
    <button mat-stroked-button>功能三</button>
  </div>
</mat-toolbar>
<main class="container">
  
</main>
