/* 定義漸變顯示的動畫 */
@keyframes line-one-fade-in {
    0% {
        opacity: 0;
        transform: translate(20px, -20px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes line-two-fade-in {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes line-three-fade-in {
    0% {
        opacity: 0;
        transform: translate(20px, 20px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-20px, -20px);
    }
}

.main-fade-out{
    animation: fade-out 1s ease-in-out;
    visibility: hidden;
}

.line {
    font-size: 5.8rem;
    font-weight: bold;
    visibility: hidden;
}

.line-one {
    visibility: visible;
    animation: line-one-fade-in 1.5s ease-in-out;
    text-align: center;
    margin-right: 200px;
}

.line-two {
    visibility: visible;
    animation: line-two-fade-in 3s ease-in-out;
    text-align: center;
}

.line-three {
    visibility: visible;
    animation: line-three-fade-in 2s ease-in-out;
    text-align: center;
    margin-left: 300px
}

.timer{
    height: 200px;
    width: 500px;
}

@media (max-width: 1200px){
    .line{
        font-size: 5rem;
    }
    .line-one{
        margin-right: 0px;
    }
    .line-three{
        margin-left: 0px;
    }
}

@media (max-width: 530px){
    .line{
        font-size: 3rem;
    }
}

