/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'jf-open';
    src: url('../fonts/jf-openhuninn-2.1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'jf-open', serif;
}