/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'jf-open';
    src: url('../fonts/jf-openhuninn-2.1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --text-color: rgb(244, 228, 198);
    --main-color: rgb(5, 7, 115);
}

body{
    height: 100vh;
    overflow-y: hidden;
    font-family: 'jf-open', serif;
    color: var(--text-color);
    margin: 0px;
    background-color: var(--main-color);
}
::-webkit-scrollbar {
    display: none;
}

