/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/azure-blue.css'; /* 替換成您選擇的主題 */

@font-face {
  font-family: 'jf-open';
  src: url('../fonts/jf-openhuninn-2.1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --text-color: rgba(244, 228, 198, 1);
  --title-color: #1a3d59;
  --main-color: rgba(0, 0, 0, 0.865);
  --second-color: rgba(5, 176, 250, 0.906);
  --block-color: rgba(4, 77, 90, 1);
  --block-color-truth: 4, 77, 90;
  --direction-color: rgba(65, 39, 1, 0.86);
}
::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  overflow-y: hidden;
  font-family: 'jf-open', serif;
  color: var(--text-color);
  margin: 0px;
  background-color: var(--main-color);
}

button {
  text-align: center;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 2rem;
  margin: 2px;
  cursor: pointer;
  text-shadow: 0 5px 10px rgba(8, 8, 8, 0.466);
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}

select {
  background: linear-gradient(90deg, var(--title-color), var(--second-color));
  border: none;
  border-radius: 10px;
  text-align: center;
  color: var(--text-color);
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.2s;
  margin: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:hover {
  background: linear-gradient(45deg, #3cb371, #6b8e23);
  transform: translateY(-2px);
}

select:active {
  transform: translateY(1px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

option {
  background-color: var(--main-color);
  color: var(--text-color);
}

@media (max-width: 1200px) {
  button {
    font-size: 2rem;
  }
}
@media (max-width: 992px) {
  button {
    font-size: 1.8rem;
  }
}
@media (max-width: 786px) {
  button {
    font-size: 1.5rem;
    padding: 0px;
    margin: 5px;
  }
}
@media (max-width: 576px) {
  button {
    font-size: 1.2rem;
  }
}

html,
body {
  height: 100%;
}
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
